 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Karla:wght@300&display=swap');
 @import url(../css/root.css);

 * {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style-type: none !important;
    box-sizing: border-box;
    scroll-behavior: smooth;

 }

 .ff_karla {
    font-family: 'karla', 'sans-sarif';
 }

 .ff_inter {
    font-family: 'inter', 'sans-sarif';
 }

 .fw_300 {
    font-weight: 300;
 }

 .fw_500 {
    font-weight: 500;

 }

 .fw_700 {
    font-weight: 700;
 }

 .max_w_249 {
    max-width: 249px;
 }

 .bg_linear {
    background-color: #111B24;
 }

 .nav_btn {
    background: #00EAC7;
    border-radius: 48px;
    padding: 10px 28px;
 }

 .h-100vh {
    height: 100vh;
 }

 nav ul li a:hover {
    color: #00EAC7 !important;
 }

 .fc_navy {
    color: #111B24;
 }

 .nav-link {
    margin-right: 20px !important;
 }

 @media (max-width:576px) {
    .max_w_249 {
       max-width: 208px !important;
    }

 }

 /* <<<<<<herosection>>>>>> */
 .hero_bg_img {
    background-image: url(../image/png/hero_bg_png.png);
    background-repeat: no-repeat;
    background-size: cover;

 }

 .latter_space {
    letter-spacing: 0.86px;
 }

 .max_w_340 {
    max-width: 340px;
 }

 .max_w_316 {
    max-width: 316px;
 }

 .hero_line::after {
    position: absolute;
    content: '';
    width: 64px;
    height: 2px;
    top: 118px;
    left: 2px;
    background-color: #00EAC7;
 }

 .fc_gray {
    color: #BCCBD6;
    ;
 }

 .max_w_392 {
    max-width: 392px;
 }

 .hero_btn {
    background: #0F3034;
    border-radius: 48px;
    padding: 14px;
    color: #00CCAB;
    border: 1px solid #0F3034;

 }

 /* <<<<<smoothslider>>>> */
 .slider_bg {
    background-image: url(../image/png/SMOTH.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
 }

 /* <<<<<<<<<col_3 box>>>>>>>>>>> */
 .middle_line::after {
    position: absolute;
    content: '';
    width: 64px;
    height: 2px;
    left: 20.45px;
    top: 39px;
    background: #00EAC7;
 }

 .azero_line::after {
    position: absolute;
    content: '';
    width: 64px;
    height: 2px;
    left: 51.82px;
    top: 40px;
    background: #00EAC7;
 }

 .account_line::after {
    position: absolute;
    content: '';
    width: 64px;
    height: 2px;
    left: 2.03px;
    top: 40px;

    background: #00EAC7;

 }

 .valid_line::after {
    position: absolute;
    content: '';
    width: 64px;
    height: 2px;
    left: 36.45px;
    top: 39px;

    background: #00EAC7;
 }

 /* <<<<two_cards>>> */
 .max_w409 {
    max-width: 409px;
 }

 .max_w574 {
    max-width: 574px;
 }

 .build_line::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 21.53px;
    top: 6px;
    left: -14px;
    background-color: #00EAC7;
 }

 .text_color_green {
    color: #00CCAB;
 }

 .two_card_box {
    border: 1px solid #1B2B38;
    border-radius: 2px;
 }

 .padding {
    padding: 69px 49px;
 }

 /* <<<<<<<<overlap>>>>> */
 .overlap_bg {
    background-image: url(../image/png/card_shdow_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
 }
 .overlap_card {
    background: linear-gradient(#14202A 63%, #111B24 80%) !important;
    border: 1px solid #1B2B38;

 }

 .block_line {
    position: relative;
 }

 .block_line::before {
    content: ' ';
    position: absolute;
    border: 1px solid var(--green-blue);
    width: 2px;
    height: 85px;
    top: 0px;
    right: 0px;
 }

 .max_w_238 {
    max-width: 238px;
 }

 .w_150 {
    width: 150%;
 }

 .max_w_300 {
    max-width: 300px;
 }

 .block_minicard {
    padding: 23px 13px 13px 24px;
 }
 .position_img {
    background-image: url(../image/png/position_img.png);
    background-repeat: no-repeat;

    object-fit: cover;
    height: 194px !important;
 }


 .border_left {
    border-left: 2px solid #00CCAB;
 }


 .card_1 {
    background: linear-gradient(#14202A 63%, #111B24 80%) !important;
    border: 1px solid #1B2B38;
 }

 .max_w_150 {
    max-width: 150px;
 }

 .max_w_310 {
    max-width: 310px;
 }

 .max_w_660 {
    max-width: 660px;
 }

 .position_line::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 80.16px;
    left: -25px;
    top: 2.39px;

    background: #00EAC7;
 }

 .fc_green {
    color: #00CCAB;
 }

 /* /* - <<<<<<<<<<duble-verticalslider>>>>>>>>>>> */

 .max_w_475 {
    max-width: 475px;
 }

 .max_w_218 {
    max-width: 218px;
 }

 .max_w_588 {
    max-width: 588px;
 }

 .Explore_btn {
    color: #00CCAB;
    background: #0F3034;
    border-radius: 48px;
    padding: 16px 25px;
    border: 1px solid #0F3034;

 }

 .stright_line::before {
    content: '';
    position: absolute;
    width: 64px;
    height: 2px;
    top: 69px;
    left: -1px;
    background-color: #00EAC7;

 }

 /* <<<<<<circle_section>>>>> */
 .Get_involved_btn {
    color: #00CCAB;
    background: #0F3034;
    border-radius: 48px;
    padding: 16px 25px;
    border: 1px solid #0F3034;
 }

 .max_w628 {
    max-width: 628px;
 }

 .max_w452 {
    max-width: 452px;
 }

 .text_color {
    color: #26313A;
 }

 .p_text_color {
    color: #BCCBD6;
 }

 .line::after {
    content: '';
    position: absolute;
    width: 64px;
    height: 2px;
    top: 107px;
    left: 2px;
    background-color: #00EAC7;

 }

 /* <<<<<<<<<<three_card>>>>> */

 .three_card_bg {
    background-image: url(../image/png/three_card_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
 }

 .max_w_239 {
    max-width: 239px;
 }
 .wallet_card {
    background: linear-gradient(90.25deg, #14202A 0.24%, rgba(20, 32, 42, 0) 99.79%);
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: #1B2B38;
    
    
    
 }
 .wallet_card:hover .position-11-btn {
    right: -68% !important;
 }
 .position-11-btn {
    right: -86% !important;
    bottom: 10px;
    transition: all 300ms linear;
 }
 .wallet_buttun {
    width: 125px;
    height: 48px;
    background: #0F3034;
    border-radius: 48px 0px 0px 48px;
 }
 .wallet_line {
    width: 2px;
    height: 21px;
    background: #00EAC7;
 }
 .img_position {
    left: 7%;
    top: -56%;
 }

 .wallet_box {
    border: 1px solid white;
    border-radius: 2px;
 }

 .wallet_card_bg {
    background-image: url(../image/png/wallet_card_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
 }
 /* <<<<<<<<<<<<top_slider>>>> */
 .bottom_line {
    border-bottom: 2px solid #00EAC7;
 }
 .vertical_box{
   background: #14202A;
      border: 1px solid rgba(255, 255, 255, 0.07);
      border-radius: 2px;
 }
.max_w_78{
   max-width: 78px;
}
.vertical_box{
   opacity: 0.6;
}
.vertical_box.slick-current{
   opacity: 1;
}


 @media (min-width:1200px) {
    .ml_30 {
       margin-left: -240px !important;
    }
 }